
<div id="reportAddToCart" style="color:green">Đã Thêm Vào Giỏ Hàng @ViewBag.Id</div>

<script>
    $("#reportAddToCart").fadeTo(200, 500).slideUp(500, function () {
        $("#success-alert").slideUp(500);
    });
</script>