/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

body.login-admin {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }


.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

    .tim-typo .tim-note {
        bottom: 5px;
        color: #c0c1c2;
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        left: 0;
        margin-left: 20px;
        position: absolute;
        width: 260px;
    }

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
    padding-top: 25px;
    border-bottom: none;
}

    .offline-doc .navbar.navbar-transparent .navbar-minimize {
        display: none;
    }

    .offline-doc .navbar.navbar-transparent .navbar-brand,
    .offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
        color: #FFFFFF !important;
    }

.offline-doc .footer {
    z-index: 3 !important;
}

.offline-doc .page-header .container {
    z-index: 3;
}

.offline-doc .page-header:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sidebar .sidebar-background:after {
    background: unset;
}

.form-horizontal .form-group input {
    position: relative;
    opacity: unset;
    z-index: unset;
}

.navbar-wrapper h3{
    margin:0;
}

.content {
    padding-top:0 !important;
}

table{
    text-align:center;
}

